:root {
    --brandColor: #c39d65;
    --primaryColor: #ecdad6;
    --grayColor:#d1c8cb;
    --secondaryColor: #565f70;
}

.brand-color {
    color: #c39d65;
}
.primary-color {
    color: #ecdad6;
}
.secondary-color {
    color: #565f70;
}
.gray-color {
    color: #d1c8cb;
}


body {background-color : #ededed; font-family : "Open Sans", sans-serif;}

li a {text-decoration : none; color : var(--brandColor);}

.bg {
background-color: var(--brandColor);
}
nav {

  margin : 40px auto;
}

span {
  padding : 30px;
  font-size : 1.2em;
  cursor : pointer;
}

span::after {
  float: right;
  right: 10%;
}

.slide {
    background: rgba(86, 95, 112, 0.3);
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide li {
    padding : 30px;
    display: inline-block;
}

#touch {position: absolute; opacity: 0; height: 0px;}

#touch:checked + .slide {
    height: 100px;
}


/* homepage css - header */

.header-banner {
    background-image: url('../images/life-with-colors-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
}
